/* Fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* Formatação Geral */
body {
    background: #31333B;
}

#results {
    background: #ce7b7b;
    border-radius: 20px;
}

pre {
    color: #F5F6E6;
    padding: 2%;
    font-family: 'Quicksand', sans-serif;;
}

a {
    color: #99c6db;
    font-weight: 700;
}
a:hover {
    font-size: 1.15em;
    color: #11cef4;
    text-decoration: none;
}

/* Configuração do scroll bar*/
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* Configuração CSS responsiva para dispositivos extra pequenos até extra grandes*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body {
        width: 90%;
    }
    pre {
        text-align: center;
        font-size: 0.65em;
    }
    #main-input {
        width: 100%;
        margin: 15em -1em 1em 1em;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        width: 80%;
    }
    pre {
        text-align: center;
        font-size: 0.8em;
    }
    #main-input {
        width: 80%;
        margin: 15em -3em 1em 5em;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        width: 70%;
    }
    pre {
        text-align: center;
        font-size: 0.85em;
    }
    #main-input {
        width: 70%;
        margin: 15em -7em 1em 10em;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        width: 60%;
    }
    pre {
        text-align: center;
        font-size: 1em;
    }
    #main-input {
        width: 60%;
        margin: 15em -15em 1em 15em;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    body {
        width: 50%;
    }
    pre {
        text-align: center;
        font-size: 1em;
    }
    #main-input {
        width: 50%;
        margin: 15em -20em 1em 20em;

    }
}